body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 207);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#loginForm{
    background-color: rgb(251, 252, 167);
    border-radius: 10px;
    box-shadow: 01px 01px 10px rgb(0, 0, 0,0.5);
    padding: 20px;
    width: 300px;

 
    
}
label{
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 200;
}

input,select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: rgb(189, 198, 128);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

input[type="submit"]:hover{
    background-color: rgb(68, 72, 47);
}   



#show-hide {
    position: relative;
    top: -5px;
    float: right;
    color: grey;
    cursor: pointer;
    border: transparent solid 1px;
    transition: 0.3s all ease;
}

#show-hide:hover {
    color: black;
    border: black solid 1px;
    border-radius: 5px;
    padding: 2px;
}



.error-message{
    color: red;
    font-size: 12px;
    display: none;
}   